.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #6e131d;
  border-radius: 0px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.hero-section {
  position: absolute;
  inset: 0;
}
.frame {
  width: 102px;
  height: 103px;
  position: absolute;
  left: 84px;
  top: 50px;
  box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame2 {
  width: 76px;
  height: 46px;
  position: absolute;
  left: 201px;
  top: 79px;
  overflow: hidden;
}
.rectangle-4 {
  background: rgba(0, 0, 0, 0.13);
  border-radius: 0px;
  width: 524px;
  height: 455px;
  position: absolute;
  left: 832px;
  top: 251px;
}
.mask-group {
  width: 490px;
  height: 426px;
  position: absolute;
  left: 848px;
  top: 265px;
  overflow: visible;
}
.manage-with-confidence {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 84px;
  top: 359px;
}
.reserve-with-ease {
  background: linear-gradient(
    91.57deg,
    rgba(192, 183, 232, 1) 0%,
    rgba(129, 118, 175, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 46px;
  font-weight: 700;
  position: absolute;
  left: 84px;
  top: 299px;
}
.simplify-the-booking-process-with-a-user-friendly-interface-access-real-time-availability-of-facilities-and-equipment-designed-to-streamline-event-planning-for-students-staff-and-administrators-keep-track-of-reservations-with-automated-notifications-and-updates {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 84px;
  top: 451px;
}
.outline-arrow-small-right {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 309px;
  top: 563px;
  overflow: visible;
}
.rectangle-6 {
  border-radius: 0px;
  width: 1272px;
  height: 167px;
  position: absolute;
  left: -378.5px;
  top: 700.5px;
  overflow: visible;
}
.outline-mail {
  width: 65px;
  height: 65px;
  position: absolute;
  left: 946px;
  top: 844px;
  overflow: hidden;
}
.outline-phone-call {
  width: 59px;
  height: 59px;
  position: absolute;
  left: 573px;
  top: 850px;
  overflow: hidden;
}
.rectangle-42115 {
  width: 1443px;
  height: 312px;
  position: absolute;
  left: 0px;
  top: 823px;
  overflow: visible;
}
.frame-1171275953 {
  width: 1443px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.vector-1 {
  width: 414px;
  height: 669px;
  position: absolute;
  left: 1023px;
  top: 170px;
  overflow: visible;
}
.vector-3 {
  width: 739px;
  height: 426px;
  position: absolute;
  left: 704px;
  top: 419px;
  overflow: visible;
}
.vector-2 {
  width: 377px;
  height: 845px;
  position: absolute;
  left: 929px;
  top: 0px;
  overflow: visible;
}
.vector-4 {
  width: 238.07px;
  height: 561px;
  position: absolute;
  left: 2.5px;
  top: 269px;
  overflow: visible;
}
.sigil-removebg-preview-4-1 {
  width: 129px;
  height: 129px;
  position: absolute;
  left: 106px;
  top: 41px;
  object-fit: cover;
}
.prfs {
  color: #ffffff;
  text-align: left;
  font-family: "LondrinaSolid-Regular", sans-serif;
  font-size: 50px;
  letter-spacing: 0.005em;
  font-weight: 400;
  position: absolute;
  left: 255px;
  top: 86px;
  width: 107px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-text-stroke: 1px #000000;
}
.miroodles-color-composition {
  width: 494.45px;
  height: 436.15px;
  position: absolute;
  left: 857px;
  top: 249px;
  object-fit: cover;
}
.rectangle-5 {
  background: linear-gradient(
    90deg,
    rgba(129, 118, 175, 1) 0%,
    rgba(192, 183, 232, 1) 100%
  );
  border-radius: 40px;
  width: 225px;
  height: 59px;
  position: absolute;
  left: 84px;
  top: 584px;
}
.proceed-to-login {
  color: #343045;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 110px;
  top: 605px;
  width: 174px;
  height: 62px;
}
