body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  background-color: #f4f4f4;
  height: 100vh;
}
.sidebar {
  width: 250px;
  background-color: #700a0a;
  color: white;
  padding: 20px;
  height: 115vh;
}
.logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.nav-btn {
  display: block;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  text-align: left;
  width: 100%;
  padding: 10px;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: white;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #fff;
}
th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
th {
  background: #d66e3f;
  color: white;
}
.btn {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
.btn-remove {
  background: red;
  color: white;
}
.btn-edit {
  background: yellow;
  color: black;
}
.add-property {
  background: blue;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}
